//color 
$p-Red: hsl(1, 90%, 64%);
$p-Blue: hsl(219, 85%, 26%);

//netural
$n-White: hsl(0, 0%, 100%);
$n-Very-light-grayish-blue: hsl(210, 60%, 98%);
$n-Light-grayish-blue-1: hsl(211, 68%, 94%);
$n-Light-grayish-blue-2: hsl(205, 33%, 90%);
$n-Grayish-blue: hsl(219, 14%, 63%);
$n-Dark-grayish-blue: hsl(219, 12%, 42%);
$n-Very-dark-blue: hsl(224, 21%, 14%);